{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}My Library{% endblock %}

{% block content %}
<div class="container">

        <div class="col-sm-12 col-md-8">
            <h1>My Library</h1>
            <ul class="list-group">
                {% for book in all_books%}
                <li class="list-group-item">{{book['title']}} - {{ book['author'] }} - {{ book['rating'] }}</li>
                {% endfor%}
            </ul>
            {% if not all_books %}
            <p>Library is empty</p>
            {% endif %}
            <a href="{{ url_for('add') }}">Add New Book</a>
        </div>

</div>
{% endblock %}

